<section class="navbar">
    <h2>MovieMania</h2>
    <ul class="nav">
        <li><a href="#">Hindi Movies</a></li>
        <li><a href="#">Hollywood</a></li>
        <li><a href="#">Tv Shows</a></li>
    </ul>
</section>